<!DOCTYPE html>
<html>
<head>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Styles.css" rel="stylesheet" />
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 col-md-offset-4 main-header page-header">Two Cats and Me</div>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-4 sub-header">A tale of adventure, naps, &amp; betrayal</div>
        </div>
    </div>
</body>
</html>